*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(31, 51, 75);
    font-family: 'Roboto', sans-serif;
}

nav{
    border-style: none none solid none;
    border-width: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(26, 43, 63);
}

.logo{
    color: rgb(187, 182, 182);
    letter-spacing: 2px;
    font-size: 14px;
}

.logo a{
    color: rgb(187, 182, 182);
    font-weight: bold;
    text-decoration: none;
}

.logo a:hover{
    color: rgb(118, 183, 199);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(187, 182, 182);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover{
    color:rgb(118, 183, 199);
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(187, 182, 182);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger:hover div{
    background-color: rgb(118, 183, 199);
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(26, 43, 63);
        border-style: none none none solid;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
    transition: transform 0.2s ease-in;
}

@keyframes navLinkFade{
    from{
        opactiy: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.hover::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(37, 139, 165);
    transition: width .3s;
    color:rgb(37, 139, 165);
}

.hover:hover::after{
    width:  100%;
    transition: width .3s;
}

.flex-container{
    display: flex;
    color: rgb(159, 222, 238);
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40px;
}

.hi{
    font-weight: 200;
    font-size: 24px;
}

.name{
    font-weight: 900;
    font-size: 80px;
    color: rgb(230, 243, 242);
}

.subname{
    font-weight: 900;
    font-size: 80px;
    color: rgb(171, 201, 201);
}

.description{
    color: rgb(171, 201, 201);
}

.button{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

.about{
    
}